<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="#" class="navbar-brand">Peer-Tutor</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">Products</a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">asdf</a>
                    <a href="#" class="dropdown-item">1234</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">qwert</a>
                </div>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
        </ul>
    </div>
</nav>

<!-- <div class="jumbotron">
    <h1 class="display-4">Simple. asdf zcxv</h1>
    <p class="lead">asdflkdsajfkljdsalfjkldas dflkdsajfkljdsalfjklda sdflkdsajfklj  dsalfjkldsdflkdsajfkljdsal fjkld</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div> -->

<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="card mb-4">
            <div class="card-body text-center">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">Left Left Left Left Left Left Left </p>
                <a href="#" class="card-link">another link</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card mb-4">
            <div class="card-body text-center">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">Center Center Center Center Center Center </p>
                <a href="#" class="card-link">another link</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card mb-4">
            <div class="card-body text-center">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">right right right right right right</p>
                <a href="#" class="card-link">another link</a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-sm-4 mt-md-0">
    <div class="col-sm-12 col-md-8">
        <h3>Some Heading</h3>
        <p class="lead">asdfdsafjadskl asdfdsafjadskl asdfdsafjadsklasdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl </p>
        <p class="lead">asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl asdfdsafjadskl </p>
    </div>
    <div class="col-sm-12 col-md-4">
        asdfasdf
    </div>
</div>