<!-- Class Content -->
<div class="row mt-4">
    <div *ngFor="let c of classes$" class="col-sm-12 col-md-4">
        <div class="card mb-4">
            <div class="card-body text-center">
                <h4 class="card-title">{{c["class-name"]}}</h4>
                <h5 class="card-title">{{c.title}}</h5>
                <p class="card-text">Instructor: {{c.instructor}}</p>
                <p class="card-text">{{c["start-time"]}}~{{c["end-time"]}}, {{c.days}}</p>
                <p class="card-text">{{c.location}}</p>
                <a routerLink="/class/{{c._id}}" class="card-link">Class Detail</a>

            </div>
        </div>
    </div>
</div>

<!-- Modal for selecting class -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add a Class You Are Enrolling</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                    <form #loginForm="ngForm">
                        <div class="form-group">
                            <label for="login-username">Email</label>
                            <input type="text" class="form-control" name="username" id="login-username" placeholder="Email"
                                [(ngModel)]="loginUsername" required #loginusername="ngModel"
                                [class.is-invalid]="loginusername.invalid && loginusername.touched">
                            <small [class.d-none]="loginusername.valid || loginusername.untouched" class="text-danger">
                                Email is required.
                            </small>
                        </div>
                        <!-- Username input -->
                        <!-- <select class='select-option' required [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)'>
                            <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
                        </select> -->
                        <select class='select-option' required >
                            <option value="" selected disabled hidden>Choose here</option>
                            <option class='option'>TEST1</option>
                            <option class='option'>TEST2</option>
                            <option class='option'>TEST3</option>
                            <option class='option'>TEST4</option>
                            <option class='option'>TEST5</option>
                        </select>
                        <!-- Password input -->
                        <div class="form-group">
                            <label for="login-password">Password</label>
                            <input type="password" class="form-control" name="password" id="login-password" placeholder="Password" 
                                [(ngModel)]="loginPassword" pattern="^.{8,}" required #loginpassword="ngModel"
                                [class.is-invalid]="loginpassword.invalid && loginpassword.touched">
                            <small [class.d-none]="loginpassword.valid || loginpassword.untouched" class="text-danger">
                                Password need to be at least 8 characters long.
                            </small>
                        </div>
                        <!-- Login submit / Registration -->
                        <div class="form-group">
                            <button [disabled]="loginForm.form.invalid" class="btn btn-primary" (click)="tryLogin()">Login</button>
                            <a href="#" class="btn btn-link" routerLink="/register">Register</a>
                        </div>
                    </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        
    </div>
</div>

<!-- Add Class Button -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group">
                <a class="btn btn-success btn-fab" data-toggle="modal" data-target="#myModal">
                    <i class="material-icons">
                        <svg style="width:24px;height:24px" viewBox="0 0 42 42">
                            <path fill="#ffffff" d="M37.059,16H26V4.941C26,2.224,23.718,0,21,0s-5,2.224-5,4.941V16H4.941C2.224,16,0,18.282,0,21s2.224,5,4.941,5H16v11.059
                            C16,39.776,18.282,42,21,42s5-2.224,5-4.941V26h11.059C39.776,26,42,23.718,42,21S39.776,16,37.059,16z" />
                        </svg>
                    </i>
                </a>
            </div>
        </div>
    </div>
</div>