<div class="row mt-4">
    <div class="col-sm-12 col-md-4">
        <div class="card mb-4">
            <div class="card-body text-center">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">Left Left Left Left Left Left Left </p>
                <a href="#" class="card-link">another link</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card mb-4">
            <div class="card-body text-center">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">Center Center Center Center Center Center </p>
                <a href="#" class="card-link">another link</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card mb-4">
            <div class="card-body text-center">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">right right right right right right</p>
                <a href="#" class="card-link">another link</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card mb-4">
            <div class="card-body text-center">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">Left Left Left Left Left Left Left </p>
                <a href="#" class="card-link">another link</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="card mb-4">
            <div class="card-body text-center">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">Center Center Center Center Center Center </p>
                <a href="#" class="card-link">another link</a>
            </div>
        </div>
    </div>
</div>