<!DOCTYPE html>
<html lang="en">
<head>
<style>
    .bg-1 { 
        background-color: #1abc9c;
        color: #ffffff;
    }
    .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 70px;
        padding-right: 70px;
    }
    </style>
</head>
<body>
    <div class="container-fluid bg-1 text-center">
        <h1>What is Peer-Tutor?</h1>
        <img src="../../assets/logo.png" class="img-circle" alt="Logo" width="250" height="250">
        <h3>
            Peer-Tutor is a web app dedicated to connecting students, fostering healthy relationships and academic success. 
        
            It connects:
            a student wishing to get tutored- known as Peer  
            with a student willing to offer tutoring services-known as Tutor
            through Session Scheduling and Matching  
            
            A student can be both a Peer and a Tutor 
        </h3>
    </div>
</body>
</html>