<div class="card mt-5" style="margin:auto;width: 600px;">
    <div class="card-body">
        <!-- Title: Login -->
        <h5 class="card-title">Register</h5>
        <!-- Login Error Message, if exist -->
        <small class="text-danger" *ngIf = "registerError && submitted">{{registerErrorMsg}}</small>
        <form #loginForm="ngForm">
            <!-- Username input -->
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name"
                    [(ngModel)]="firstname" required #formfirstname="ngModel"
                    [class.is-invalid]="formfirstname.invalid && formfirstname.touched">
                <small [class.d-none]="formfirstname.valid || formfirstname.untouched" class="text-danger">
                    First Name is required.
                </small>
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name"
                    [(ngModel)]="lastname" required #formlastname="ngModel"
                    [class.is-invalid]="formlastname.invalid && formlastname.touched">
                <small [class.d-none]="formlastname.valid || formlastname.untouched" class="text-danger">
                    Last Name is required.
                </small>
            </div>
            <div class="form-group">
                <label for="studentid">Student ID</label>
                <input type="text" class="form-control" name="studentid" id="studentid" placeholder="Student ID"
                    [(ngModel)]="studentId" required #formstudentId="ngModel"
                    [class.is-invalid]="formstudentId.invalid && formstudentId.touched">
                <small [class.d-none]="formstudentId.valid || formstudentId.untouched" class="text-danger">
                    Student ID is required.
                </small>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <!-- pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" -->
                <input type="text" class="form-control" name="email" id="email" placeholder="Email" 
                    [(ngModel)]="email" required #formemail="ngModel"
                    [class.is-invalid]="formemail.invalid && formemail.touched">
                <small [class.d-none]="formemail.valid || formemail.untouched" class="text-danger">
                    Email is required.
                </small>
            </div>
            <!-- Password input -->
            <div class="form-group">
                <label for="registerPassword">Password</label>
                <input type="password" class="form-control" name="registerPassword" id="registerPassword" placeholder="Password" 
                    [(ngModel)]="registerPassword" pattern="^.{8,}" required #formregisterPassword="ngModel"
                    [class.is-invalid]="formregisterPassword.invalid && formregisterPassword.touched">
                <small [class.d-none]="formregisterPassword.valid || formregisterPassword.untouched" class="text-danger">
                    Password need to be at least 8 characters long.
                </small>
            </div>

            <div class="form-group">
                <label for="securequestion">Security Question</label>
                <input type="text" class="form-control" name="securequestion" id="securequestion" placeholder="Security Question" 
                    [(ngModel)]="secquestion" required #formquestion="ngModel"
                    [class.is-invalid]="formquestion.invalid && formquestion.touched">
                <small [class.d-none]="formquestion.valid || formquestion.untouched" class="text-danger">
                    Security Question is required.
                </small>
            </div>
            <div class="form-group">
                <label for="secureanswer">Security Answer</label>
                <input type="text" class="form-control" name="secureanswer" id="secureanswer" placeholder="Security Answer" 
                    [(ngModel)]="secanswer" required #formanswer="ngModel"
                    [class.is-invalid]="formanswer.invalid && formanswer.touched">
                <small [class.d-none]="formanswer.valid || formanswer.untouched" class="text-danger">
                    Security Answer is required.
                </small>
            </div>
            <!-- Login submit / Registration -->
            <div class="form-group">
                <button [disabled]="loginForm.form.invalid" class="btn btn-primary" (click)="tryregister()">Register</button>
                <a href="#" class="btn btn-link" routerLink="/login">Login</a>
            </div>
        </form>
    </div>
    <!-- <p>{{testUsername}},{{testPassword}}</p> -->
</div>