<div class="card mt-5" style="margin:auto;width: 600px;">
    <div class="card-body">
        <!-- Title: Login -->
        <h5 class="card-title">Register</h5>
        <!-- Login Error Message, if exist -->
        <small class="text-danger" *ngIf = "registerError && submitted">{{registerErrorMsg}}</small>
        <form #loginForm="ngForm">
            <!-- Username input -->
            <div class="form-group">
                <label for="register-username">Username</label>
                <input type="text" class="form-control" name="username" id="register-username" placeholder="Username"
                    [(ngModel)]="registerUsername" required #formusername="ngModel"
                    [class.is-invalid]="formusername.invalid && formusername.touched">
                <small [class.d-none]="formusername.valid || formusername.untouched" class="text-danger">
                    Name is required.
                </small>
            </div>
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name"
                    [(ngModel)]="firstname" required #formfirstname="ngModel"
                    [class.is-invalid]="formfirstname.invalid && formfirstname.touched">
                <small [class.d-none]="formfirstname.valid || formfirstname.untouched" class="text-danger">
                    First Name is required.
                </small>
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name"
                    [(ngModel)]="lastname" required #formlastname="ngModel"
                    [class.is-invalid]="formlastname.invalid && formlastname.touched">
                <small [class.d-none]="formlastname.valid || formlastname.untouched" class="text-danger">
                    Last Name is required.
                </small>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" id="email" placeholder="Email" 
                    [(ngModel)]="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required #formemail="ngModel"
                    [class.is-invalid]="formemail.invalid && formemail.touched">
                <small [class.d-none]="formemail.valid || formemail.untouched" class="text-danger">
                    Please enter a valid email.
                </small>
            </div>
            <!-- Password input -->
            <div class="form-group">
                <label for="registerPassword">Password</label>
                <input type="password" class="form-control" name="registerPassword" id="registerPassword" placeholder="Password" 
                    [(ngModel)]="registerPassword" pattern="^.{8,}" required #formregisterPassword="ngModel"
                    [class.is-invalid]="formregisterPassword.invalid && formregisterPassword.touched">
                <small [class.d-none]="formregisterPassword.valid || formregisterPassword.untouched" class="text-danger">
                    Password need to be at least 8 characters long.
                </small>
            </div>
            <!-- Login submit / Registration -->
            <div class="form-group">
                <button [disabled]="loginForm.form.invalid" class="btn btn-primary" (click)="tryregister()">Register</button>
                <a href="#" class="btn btn-link">Login</a>
            </div>
        </form>
    </div>
    <!-- <p>{{testUsername}},{{testPassword}}</p> -->
</div>