<div class="card mt-5" style="margin:auto;width: 600px;">
  <div class="card-body">
    <!-- Title: Login -->
    <h5 class="card-title">Account Retrieval</h5>
    <!-- Login Error Message, if exist -->
    
    <small class="text-danger" *ngIf = "studentIdNotFoundFlag$ && searchedFlag$">No Student With Such ID Registered!</small>
    <form [formGroup]="studentIdFormGroup$" [hidden]="!studentIdNotFoundFlag$ && searchedFlag$">
      <div class="form-group">
        <label>
          Student ID
          <input placeholder="Student ID" type="text" name="studentId" id="studentId" formControlName="studentId">
        </label>
        <button [disabled]="!studentIdFormGroup$.valid" (click)="onSearchStudentId()">Next</button>
      </div>
    </form>

    <small class="text-danger" *ngIf = "answerNotMatchedFlag$ && answerSubmittedFlag$">Secure Answer Not Matched!</small>
    <form [formGroup]="secureQnAFormGroup$" [hidden]="!answerNotMatchedFlag$ && answerSubmittedFlag$">
      <div class="form-group">
        <label>
          {{secureQuestion$}}
          <input placeholder="Secure Answer" type="text" name="secureAnswer" id="secureAnswer" formControlName="secureAnswer">
        </label>
        <button [disabled]="!secureQnAFormGroup$.valid" (click)="onSearchStudentId()">Next</button>
      </div>
    </form>

    <small class="text-danger" *ngIf = "answerNotMatchedFlag$ && answerSubmittedFlag$">Password Not Matched</small>
    <form [formGroup]="secureQnAFormGroup$" [hidden]="!answerNotMatchedFlag$ && answerSubmittedFlag$">
      <div class="form-group">
        <label>
          {{secureQuestion$}}
          <input placeholder="Secure Answer" type="text" name="secureAnswer" id="secureAnswer" formControlName="secureAnswer">
        </label>
        <button [disabled]="!secureQnAFormGroup$.valid" (click)="onSearchStudentId()">Next</button>
      </div>
    </form>

  </div>
  <!-- <p>{{testUsername}},{{testPassword}}</p> -->
</div>
