[run]
omit = env/*
      wb-unittests/*
      __pycache__
      .pytest_cache
      comment.py
      conftest.py
      peer.py
      tutor.py
      scraperClassesLoader.py
      timeblock.py
      server.py
      uniClass.py

[report]
exclude_lines =
      pragma: no cover
      def __str__*
      except ConnectionFailure*
      if __name__ == "__main__"*
      def parseArgs*
      except Exception*
